/* variables */
:root {
  --main-color: #14fe17;
  --background-color: #272b23;
}
@font-face {
  font-family: Pipboy;
  src: url("../fonts/monofonto.otf");
}
body {
  color: var(--main-color);
  background-color: var(--background-color);
  font-family: Pipboy, sans-serif;
}
/* Adding SCANLINE effect❤️ */
body::after {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  pointer-events: none;
  z-index: 100;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4) 1px,
    transparent 1px,
    transparent 2px
  );
}

/* Navbar Customization */
.navbar.navbar-light {
  border-bottom: 2px solid;
  margin: 0px 10px;
}
.navbar.navbar-light::before,
.navbar.navbar-light::after {
  height: 7px;
  width: 2px;
  content: "";
  position: absolute;
  display: block;
  z-index: 5000;
  background: var(--main-color);
  bottom: -8px;
}

.navbar::before {
  left: 0px;
}

.navbar::after {
  right: 0px;
}

ul > li.nav-item > a.nav-link,
ul > li.nav-item.active > a.nav-link {
  color: var(--main-color) !important;
  font-size: 32px;
  line-height: 22px;
  padding-bottom: 0px;
}
.nav-item.active::before {
  left: 0px;
  border-top: 2px solid;
  content: "";
  position: absolute;
  /* background: #f00; */
  width: 100%;
  height: 22px;
  top: 12px;
  background: var(--background-color);
  border-left: 2px solid;
  border-right: 2px solid;
  /* border-bottom: 2px solid; */
  top: 18px;
}
.navbar-light .navbar-nav > li.nav-item > .nav-link,
.navbar-light .navbar-nav > li.nav-item.active > .nav-link {
  text-align: center;
  /* width: 50%; */
  margin: auto;
  font-size: 32px;
  line-height: 22px;
  padding-bottom: 0px;
  z-index: 50;
  position: relative;
  background: var(--background-color);
}
.navbar-nav {
  width: 100%;
}
.navbar-light ul.navbar-nav > li {
  display: block;
  position: relative;
  width: 100%;
}

.navbar.navbar-light .navbar-nav {
  margin: 0px 200px;
}
.navbar.navbar-light .navbar-nav > li {
  padding: 0px 50px;
}

/* Sub-Navbar */
.nav {
  margin: 20px;
  border-bottom: none;
}

.nav .nav-items .nav-link {
  color: var(--main-color);
  font-size: 26px;
  padding: 5px 10px;
}
.nav .nav-items .nav-link:hover {
  border: 1px solid transparent;
}
.nav-tabs .nav-items:nth-child(1) {
  opacity: 1;
}
.nav-tabs .nav-items:nth-child(2) {
  opacity: 0.5;
}
.nav-tabs .nav-items:nth-child(3) {
  opacity: 0.3;
}
/* Status Image */
.center-image {
  margin: 30px auto;
  max-height: 400px;
  width: 100%;
  position: absolute;
}
.center-image img {
  margin: auto;
  display: block;
  border-radius: 50%;
  height: 300px;
  position: relative;
  /* margin-top: 100px; */
}
.green-filter {
  filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(9) brightness(01)
    contrast(02);
}

/* LEVEL Design */
.level-progress {
  width: 100%;
  height: 10px;
  border: 2px solid;
  display: inline-block;
}
.level-progress-indicator {
  height: 6px;
  background: var(--main-color);
  border: 1px solid black;
  border-radius: 5px;
}
/* Level progress position around image */
.status-container {
  position: relative;
}
.stat-bar {
  display: inline-block;
  width: 50px;
  margin: auto;
  position: absolute;
}
.level-one {
  margin-left: 34vw;
  /* margin-bottom: 20px; */
}
.level-two {
  top: 100px;
  right: 22vw;
}
.level-three {
  top: 250px;
  right: 22vw;
}
.level-four {
  top: 340px;
  left: 34vw;
}
.level-six {
  top: 250px;
  left: 22vw;
}
.level-five {
  top: 100px;
  left: 22vw;
}

/* Image below PiPBoy */
.back-color {
  background: rgba(16, 255, 0, 0.15);
}
.stat-numbers .col-2,
.stat-numbers .col-1 {
  margin-right: 5px;
}
/* new icon implementation */
.icon-container {
  position: absolute;
  top: 453px;
  left: 25vw;
  display: grid;
  grid-template-columns: 80px 30px 76px 80px 30px 30px;
  column-gap: 5px;
}
/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 20px);
  margin: 5px;
  font-size: 27px;
}
.footer .level-progress {
  width: 70%;
  margin-left: 20px;
  margin-bottom: 5px;
}
.footer .col-3,
.footer .col-6 {
  background: rgba(16, 255, 0, 0.15);
}
.footer .row .col-6 {
  margin: 0px 8px;
  flex: 0 0 48%;
}

/* Icon Images */

.small-text {
  display: inline-block;
  font-size: 18px;
  margin: 0px 5px;
}
.large-icons {
  width: 60px;
}
.green-img {
  filter: grayscale(1) brightness(200) contrast(0) sepia(100%) hue-rotate(55deg)
    saturate(20);
}
.small-icons {
  width: 25px;
  margin: 7px 3px;
}
.helmet-img {
  margin-top: 3px;
  margin-left: 10px;
  width: 60px;
}
.gun-img {
  margin-top: 10px;
  margin-left: 8px;
}
h3 {
  position: absolute;
  margin-left: 50vw;
  /* top  : 500px; */
  bottom: 38px;
  font-size: 24px;
}
/* Design Inventry List */

.inv-list{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.inv-list a {
  color: var(--main-color);
  display: block;
  width: 300px;
  padding: 5px 10px;
  border-radius: 2px;
  
}
.inv-list > a:hover{
  text-decoration: none;
  background: var(--main-color);
  color: var(--background-color);

}
.inv .item-list{
  padding: 0px;
  margin: 0px;
}
.inv .nav{
  margin-bottom: 500px;
}
/* positioning STAT list */
.item-stats{
  position: absolute;
  right: 0px;
  bottom: 50px;
  width: 300px; 
  /* margin-bottom: 10px; */
}
.row-highlight{
  margin-bottom: 2.5px;
  
  background: rgba(16, 255, 0, 0.15);
}
.inv .main-col{
height: 87vh;}

.pull-left{
  float: left;
  padding-left: 10px;
}
.pull-right{
  float: right;
  padding-right: 10px;
}
