<div class="icon-container grid--1x5">
    <div class="back-color">
      <img src="images/gun.png" class="large-icons gun-img green-img" alt="" />
    </div>

    <div class=" back-color">
      <div class="icon">
        <img
          src="images/crosshair.ico"
          class="small-icons green-img"
          alt=""
        />
      </div>

      <div class="points"><span class="small-text">18</span></div>
    </div>

    <div class="empty"></div>

    <div class="back-color">
      <img src="images/helmet.png" class="green-img helmet-img" alt="" />
    </div>

    <div class=" back-color">
      <div class="icon">
        <img src="images/energy.png" class="small-icons green-img" alt="" />
      </div>

      <div class="points"><span class="small-text">18</span></div>
    </div>

    <div class=" back-color">
      <div class="icon">
        <img
          src="images/radiation.png"
          class="small-icons green-img"
          alt=""
        />
      </div>

      <div class="points"><span class="small-text">18</span></div>
    </div>
  </div>