<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">STAT</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="inv.html">INV</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">DATA</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">MAP</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">RADIO</a>
        </li>
      </ul>
    </div>
  </nav>