<div class="status-container">
    <div class="center-image">
      <img
        class="status-image green-filter"
        src="images/VaultBoy.png"
        alt=""
      />
    </div>

    <div class="stat-bar level-one">
      <div class="level-progress">
        <div class="level-progress-indicator" style="width: 70%"></div>
      </div>
    </div>

    <div class="stat-bar level-two">
      <div class="level-progress">
        <div class="level-progress-indicator" style="width: 20%"></div>
      </div>
    </div>

    <div class="stat-bar level-three">
      <div class="level-progress">
        <div class="level-progress-indicator" style="width: 40%"></div>
      </div>
    </div>

    <div class="stat-bar level-four">
      <div class="level-progress">
        <div class="level-progress-indicator" style="width: 50%"></div>
      </div>
    </div>

    <div class="stat-bar level-five">
      <div class="level-progress">
        <div class="level-progress-indicator" style="width: 35%"></div>
      </div>
    </div>

    <div class="stat-bar level-six">
      <div class="level-progress">
        <div class="level-progress-indicator" style="width: 60%"></div>
      </div>
    </div>
  </div>